<!-- header -->
{% load static %}
{% load poll_extras %}
<div class="agileits_header">
    <div class="container">
        <div class="w3l_offers">
            <p>SALE UP TO 70% OFF. USE CODE "SALE70%" . <a href="products.html">SHOP NOW</a></p>
        </div>
        <div class="agile-login">
            <ul>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout-page' %}"> logout </a></li>
                    <li><a href="{% url 'profile-page' %}"> my profile </a></li>
                {% else %}
                    <li><a href="{% url 'register-page' %}"> Create Account </a></li>
                    <li><a href="{% url 'login-page' %}">Login</a></li>
                {% endif %}
                <li><a href="{% url 'contact-page' %}">Help</a></li>

            </ul>
        </div>
        <div class="product_list_header">
                <form action="#" method="post" class="last">
                    <input type="hidden" name="cmd" value="_cart">
                    <input type="hidden" name="display" value="1">
                    <button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                </form>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>

<div class="logo_products">
    <div class="container">
    <div class="w3ls_logo_products_left1">
            <ul class="phone_email">
                <li><i class="fa fa-phone" aria-hidden="true"></i>Order online or call us : {{ site.phone }}</li>

            </ul>
        </div>
        <div class="w3ls_logo_products_left">
            <h1><a href="{% url 'home-page' %}">{{ site.site_name }}</a></h1>
        </div>
    <div class="w3l_search">
        <form action="#" method="post">
            <input type="search" name="Search" placeholder="Search for a Product..." required="">
            <button type="submit" class="btn btn-default search" aria-label="Left Align">
                <i class="fa fa-search" aria-hidden="true"> </i>
            </button>
            <div class="clearfix"></div>
        </form>
    </div>

        <div class="clearfix"> </div>
    </div>
</div>
<!-- //header -->
<!-- navigation -->
<div class="navigation-agileits">
    <div class="container">
        <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header nav_2">
                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'home-page' %}" class="act">Home</a></li>
                    <!-- Mega Menu -->
                    {% for main_category in categories %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ main_category.title|uppercase }}<b class="caret"></b></a>

                            <ul class="dropdown-menu multi-column columns-3">
                                <div class="row">
                                    <div class="multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <h6>
                                                <a href="{% url 'category-page' main_category.url_title%}">{{ main_category.title }}</a>
                                            </h6>
                                            {% for sub_category in main_category.productcategory_set.all %}
                                                <li>
                                                    <a href="{% url 'category-page' sub_category.url_title %}">{{ sub_category }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </ul>
                        </li>
                    {% endfor %}
                    <li><a href="#">Gourmet</a></li>
                    <li><a href="#">Offers</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            </nav>
        </div>
    </div>
<!-- //navigation -->