{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="row col-md-6 col-md-offset-3">
            <h2 class="col-md-4 col-md-offset-3">edit product</h2>
            <form method="post" class="col-md-4 col-md-offset-3">
            {% csrf_token %}
            {% for field in form %}
                <p class="form-row">
                {{ field.name }}
                </p>
                <p class="form-row">
                {{ field }}
                </p>
            {% endfor %}
            <input type="submit" value="edit" class="btn btn-success">
        </form>
        </div>
    </div>
{% endblock %}